11. scan-dependencies-in-gitlab-ci/
10. scan-container-images-in-registry
09. setup-container-registry
08. build-docker-images-using-kaniko
07. auto-register-gitlab-runner-with-docker-executor
06. gitlab-runner-with-kubernetes-executor
05. gitlab-runner-with-docker-executor-dind
04. gitlab-runner-with-docker-executor-socket-binding
./README.md
02. gitlab-in-docker-compose/gitlab